<html xmlns:th="https://www.thymeleaf.org"style="overflow-x:hidden;">
<div th:replace="fragment/Head.html::Head"></div>
<body class="theme-red ls-closed">

	<div class="overlay"></div>

	<div th:replace="fragment/Header.html::Header"></div>

	<section>

		<div th:replace="fragment/Sidenav.html::SideNav"></div>

		<section class="content">

			<div th:replace="fragment/SearchReportIc.html::	IcReportSearch"></div>


			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card" style="bottom: 2pc;">
						<div class="header">
							<h2>
								<b>NOT APPROVED IC</b>
							</h2>


						</div>
						<div class="body">
							<div class="table-responsive">
								<table id="example"
									class="table table-bordered table-striped table-hover dataTable"
									style="font-size: smaller; width: max-content">
									<thead>
										<tr role="row">
													<th class="sorting_asc" tabindex="0"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-sort="ascending"
													aria-label="Name: activate to sort column descending">TEST
													ID</th>
												<th class="sorting_asc" tabindex="1"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-sort="ascending"
													aria-label="Name: activate to sort column descending">TEST
													NAME</th>
												<th class="sorting_asc" tabindex="2"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-sort="ascending"
													aria-label="Name: activate to sort column descending">BILL
													NO</th>
												<th class="sorting" tabindex="3"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Position: activate to sort column ascending">VISIT
													DATE</th>
												<th class="sorting" tabindex="5"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Position: activate to sort column ascending">CLIENT
													NAME</th>
												<th class="sorting" tabindex="6"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Position: activate to sort column ascending">CLIENT
													TYPE</th>
												<th class="sorting" tabindex="7"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Salary: activate to sort column ascending">AGENCY
												</th>
												<th class="sorting" tabindex="9"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Position: activate to sort column ascending">PRO
													NAME</th>
												<th class="sorting" tabindex="11"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Position: activate to sort column ascending">TENENT
													NAME</th>
												<th class="sorting" tabindex="12"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Position: activate to sort column ascending">BILL
													AMOUNT</th>
												<th class="sorting" tabindex="14"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Age: activate to sort column ascending">DISCOUNT
													AMOUNT</th>
												<th class="sorting" tabindex="13"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Office: activate to sort column ascending">NET
													AMOUNT</th>
												<th class="sorting" tabindex="15"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Start date: activate to sort column ascending">MIN.
													AMOUNT</th>
												<th class="sorting" tabindex="15"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Start date: activate to sort column ascending">IC
													AMOUNT</th>
												<th class="sorting" tabindex="15"
													aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
													aria-label="Start date: activate to sort column ascending">
													STATUS</th>	

										</tr>
									</thead>
									<tbody>

										<tr role="row" th:each="obj : ${page}" class="odd">
											<td class="sorting_1" th:text="${obj.investigationId}"></td>
											<td class="sorting_1" th:text="${obj.investigationName}"></td>
											<td class="sorting_1" th:text="${obj.billNo}"></td>
											<td class="sorting_1" th:text="${#dates.format(obj.visitDate, 'dd-MM-yyyy')}"></td>
											<td class="sorting_1" th:text="${obj.clientName}"></td>
											<td class="sorting_1" th:text="${obj.clientType}"></td>
											<td class="sorting_1" th:text="${obj.agency}"></td>
											<td class="sorting_1" th:text="${obj.proName}"></td>
											<td class="sorting_1" th:text="${obj.tenentName}"></td>
											<td class="sorting_1" th:text="${obj.billAmount}"></td>
											<td class="sorting_1" th:text="${obj.discountAmount}"></td>
											<td class="sorting_1" th:text="${obj.netAmount}"></td>
											<td class="sorting_1" th:text="${obj.minCost}"></td>
											<td class="sorting_1" th:text="${obj.calculatedAmount}"></td>
											<td class="sorting_1">
												<span th:if="${obj.icStatus}==0">Open</span><span 
												th:if="${obj.icStatus}==1">Prepared</span> <span
												th:if="${obj.icStatus}==2">Not Prepared</span> <span
												th:if="${obj.icStatus}==3">Allocated</span> <span
												th:if="${obj.icStatus}==4">Not Allocated</span> <span
												th:if="${obj.icStatus}==5">Approved</span> <span
												th:if="${obj.icStatus}==6">Not Approved</span> <span
												th:if="${obj.icStatus}==7">Dispatched</span> <span
												th:if="${obj.icStatus}==8">Returned</span> <span
												th:if="${obj.icStatus}==9">Delivered</span></td>
										</tr>

									</tbody>
								</table>
							</div>
							<!-- -----------------------------------------------------Pagination---------------------------------------------------------------------------- -->
								<div class="col-sd-6">
									<div class="box box-success box-solid">

										<div class="box-body">
											<div class="col-sd-6">

												<div class="pagination-div">

													<a
														th:href="@{/report/notapproved(page=${page.number-1},size=${page.size})}">
														<button type="button"
															class="btn btn-warning btn-circle waves-effect waves-circle waves-float"
															th:if="${page.hasPrevious()}">
															<i class="material-icons" data-toggle="tooltip" title="Previous">skip_previous</i>
														</button>
													</a>
													<th:block th:each="i: ${#numbers.sequence(0, page.number)}">
														<span th:if="${page.number == i}" class="selected"  style="color:orange;font-weight:bold">[[${i}+1]]</span>
														<span th:unless="${page.number == i}" class="selected" style="color:orange;font-weight:bold">
															<a
															th:href="@{/report/notapproved(page=${i},size=${page.size})}">[[${i}+1]]</a>
														</span>
													</th:block>

													<a
														th:href="@{/report/notapproved(page=${page.number+1},size=${page.size})}">
														<button type="button"
															class="btn btn-warning btn-circle waves-effect waves-circle waves-float"
															th:if="${page.hasNext()}">
															<i class="material-icons" data-toggle="tooltip" title="Next">skip_next</i>
														</button>
													</a>
												</div>

											</div>

										</div>
									</div>
								</div>

								<!-- -----------------------------------------------------*Pagination*---------------------------------------------------------------------------- -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<script src="/plugins/jquery-datatable/jquery.dataTables.js"></script>
	<script
		src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
	<script
		src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
	<script
		src="/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
	<script src="/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
	<script
		src="/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
	<script src="/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
	<script
		src="/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
	<script
		src="/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

	<!--  Bootstrap Material Datetime Picker Plugin Js -->
	<script
		src="../../plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

	<!--      Bootstrap Datepicker Plugin Js -->
	<script
		src="../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

	<!-- noUISlider Plugin Js -->
	<script src="/plugins/nouislider/nouislider.js"></script>

	<!-- Waves Effect Plugin Js -->
	<script src="/plugins/node-waves/waves.js"></script>
	<!-- Custom Js -->
	<script src="/js/admin.js"></script>
	<script src="/js/pages/tables/jquery-datatable.js"></script>

	<!--  Demo Js -->
	<script src="/js/demo.js"></script>

</body>
</html>